.price{
width: 85px;
height: auto;
}
.btn_add_to_form{
    width: 240px;
    margin: auto;
}
.submit{
    margin-left: 20px;
}
.card-prod{
    margin-bottom: 10px;
}
.btn-cat{
    margin-bottom: 5px;
}
.textr{
    word-break: break-word;
    word-wrap: break-word;
}
.subtitle{
    word-break: break-word;
}